.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-2 {
    display: flex;
    flex-direction: row;
}

.logo {
    padding: 20px 200px;
}

.nav-list {
    display: flex;
    padding: 20px 200px;
    gap: 20px;
}

.button {
  background-color: #3882F6;
  display: flex;
  margin: 10px 0 100px 200px ;
  color: #F9FAF8;
  padding: 6px 25px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
}

a {
    text-decoration: none;
}

.one {
    background-color: #1F2937;
}

#hero-main-text {
    font-size: 48px;
    font-weight: extra-bold;
    display: flex;
    padding: 0 200px;
    padding-top: 150px;
}

#hero-secondary-text {
    display: flex;
    padding: 0 200px;
    margin: 0;
    color: #E5E7eB;
}

.image-hero {
  width: 500px;
  height: 250px;
  background-color: #6d747d;
  margin-top: 150px;
  margin-bottom: 200px;
  border: none;
}

li {
    list-style-type: none;
    display: flex;
    color: #E5E7eB;
    font-size: 18px;
}

ul {
    display: flex;
    flex-direction: row;
}

.white {
    color: #F9FAF8;
}

.light-white {
    color: #E5E7eB;
    font-size: 18px;
}

.information-header {
  margin-top: 30px;
  display: flex;
  font-size: 25px;
  justify-content: center;
  color: #1F2937;
}

.box-img {
  width: 160px;
  height: 160px;
  border: 3px solid #3882F6;
  border-radius: 7px;
}

.box-caption {
  text-align: center;
  color: #1F2937;
}

.information-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 80px;
  padding-left: 300px;
  padding-right: 300px;
}

.three {
  background-color: #E5E7eB;
}

.quote {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  padding-top: 150px;
  display: flex;
  justify-content: center;
}

.quote-credit {
  font-size: 20px;
  padding-bottom: 150px;
  display: flex;
  justify-content: flex-end;
  padding-right: 300px;
}

.four {
  background-color: #F9FAF8;
  padding: 150px 200px;
}

.cta-box {
  background-color: #3882F6;
  border-radius: 10px;
  display: flex;
  padding: 20px 30px;
}

.cta-header {
  color: #F9FAF8;
  font-weight: 600;
}

.cta-p {
  color: #E5E7eB;
}

.cta-box-left {
  padding: 30px 100px;
}

.cta-box-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 100px;
}

.button-signup {
  padding: 10px 40px;
  color: #F9FAF8;
  background-color: #3882F6;
  border: 2px solid #F9FAF8;
  border-radius: 10px;
}

.button-signup:hover {  
  color: #3882F6;
  background-color: #F9FAF8;
}

button {
  font-weight: 700;
  font-size: 12px;
}

footer {
  background-color: #1F2937;
  color: #E5E7eB;
  padding: 50px 0px;
}

.footer-text {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* -------------------------------------------------------- CSS RESET ------------------------------------------------------------ */
/* --------------------------------------------------------------------------------------------------------------------------------*/


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
} 

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

